<div [formGroup]="parent">
  <div formArrayName="listOfDays">
    <button mat-icon-button (click)="addDay()">
      <mat-icon>add</mat-icon>
    </button>
    <div *ngFor="let day of listOfDaysFormArray.controls; let dayIndex = index" [formGroupName]="dayIndex.toString()">
      <div fxLayout>
        <h3>День {{dayIndex + 1}}</h3>
        <button mat-icon-button (click)="removeDay(dayIndex)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div><app-simple-number-field [max]="365" [parent]="day" controlName="dayIndex" [value]="getDay(dayIndex)?.dayIndex.toString()" [input]="dayIndexFormModel">
      </app-simple-number-field></div>
      <app-list-of-scheduler-workout [parent]="day"
                                     [listWorkoutInstances]="getDay(dayIndex)?.listOfScheduledWorkouts"></app-list-of-scheduler-workout>
    </div>
  </div>
</div>
