<div class="fixActionRow">
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start">
    {{data.header}}
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <mat-dialog-content class="mat-typography">
    <button mat-raised-button color="primary" (click)="removeAllStatistic()">Удалить статистику юзера</button>
  </mat-dialog-content>
  <div class="spacer"></div>
  <div mat-dialog-actions>
    <button mat-button mat-stroked-button mat-dialog-close>Закрыть</button>
  </div>
</div>


