<div [formGroup]="parent" fxLayout="row">
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <input matInput type="text" id="{{controlName}}" [formControlName]="controlName"
             placeholder="'enter '{{controlName}}">
    </mat-form-field>
  <button mat-button (click)="localizeField()">Локализация</button>
</div>
