<p>user-admin-page</p>
<app-user-admin [entitiesList]="$entitiesList | async"
                           (deleteItemOn)="deleteItem($event)"
                           (createItemOn)="addNew($event)"
                           (updateItemOn)="updateItem($event)"></app-user-admin>
