<!--suppress ALL -->

<div [formGroup]="parent" fxLayout="column" *ngFor="let inputItem of input" [ngSwitch]="inputItem.type">
    <mat-form-field *ngSwitchCase="typeFormControl.TEXT_INPUT">
      <mat-label>{{inputItem.name}}</mat-label>
      <input matInput type="text" id="{{inputItem.formControlName}}" formControlName="{{inputItem.formControlName}}"
             placeholder="{{inputItem.placeholder}}">
    </mat-form-field>
    <mat-form-field *ngSwitchCase="typeFormControl.TEXT_AREA">
      <mat-label>{{inputItem.name}}</mat-label>
      <textarea rows="4" matInput type="text" id="{{inputItem.formControlName}}"
                formControlName="{{inputItem.formControlName}}"
                placeholder="{{inputItem.placeholder}}"></textarea>
    </mat-form-field>
</div>
