<div class="fixActionRow">
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start">
    {{data.header}}
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form" fxLayout="column">
      <mat-tab-group>
        <mat-tab label="Общая Информация">
          <app-common-info [common]="workout.common" [parent]="form"></app-common-info>
          <app-simple-field [parent]="form" [input]="duration"></app-simple-field>
          <app-entity-characteristic [parent]="form"
                                     filterEndpoint="workout"
                                     [characteristic]="workout.characteristic"></app-entity-characteristic>
        </mat-tab>
        <mat-tab label="Фазы workout и шаги">
          <app-stepper [parent]="form" [phaseList]="workout.listOfPhases"></app-stepper>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-dialog-content>
  <div class="spacer"></div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="getFormValue()" [disabled]="form.invalid">Сохранить</button>
  </div>
</div>

