.form-column {
  display: flex;
  flex-direction: column;
}

.form-section{
  margin: 8px;
}

.form-column > * {
  width: 100%;
}

:host {
  display:flex;
  flex-direction: column;
  height: 100%;
}

mat-dialog-content {
  flex-grow: 1;
}
