<div [formGroup]=parent>
  <div [formGroup]="formGroup" *ngIf="characteristicPropertyFilter.editable">

    <app-autocomplete-multiply-form *ngIf="isArray; else object"
                                    [parent]="formGroup"
                                    [label]="characteristicPropertyFilter.name"
                                    controlName="value"
                                    [addedOnlyId]="false"
                                    [allOptions]="characteristicPropertyFilter.values"
                                    [chosenOptions]="chooseValue.value"
                                    [isPrimitiveArray]="true"></app-autocomplete-multiply-form>

    <ng-template #object>
      <mat-form-field [formGroup]="formGroup">
        <mat-label>{{characteristicPropertyFilter.name}} </mat-label>
        <mat-select formControlName="nativeValue"
                    [compareWith]="compareValue">
          <mat-option *ngFor="let value of characteristicPropertyFilter.nativeValues" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
  </div>
</div>
