<mat-dialog-content class="mat-typography">
<form [formGroup]="form" fxLayout="column" (ngSubmit)="onSubmit()" *ngIf="isLoading; else loadingBlock">
  <app-simple-field-list [parent]="form" [input]="formNames"></app-simple-field-list>
</form>
  <ng-template #loadingBlock>
    Loading
  </ng-template>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button (click)="onSubmit()"
          [mat-dialog-close]="form.getRawValue()" [disabled]="form.invalid">Сохранить</button>
</div>
