<div [formGroup]="parent" fxLayout="column">
  <mat-form-field>
    <mat-label>{{input.name}}</mat-label>
    <input matInput [min]="min" [max]="max" type="number" id="{{input.formControlName}}" formControlName="{{input.formControlName}}"
           placeholder="{{input.placeholder}}" [value]="input.value ? input.value : value">
  </mat-form-field>
</div>
