<h2>
  Workout table
</h2>
<app-dynamic-table [entityList]="entitiesList"
                   [displayedColumns]="displayColumns"
                   (deleteExerciseOn)="deleteEntity($event)"
                   (createExerciseOn)="createEntity()" (updateExerciseOn)="editEntity($event)"></app-dynamic-table>

