<section class="section-panel">
  <h2>
    Управление к упражнениями
  </h2>
    <app-dynamic-table [entityList]="entitiesList"
                       [displayedColumns]="displayedColumns"
                       (deleteExerciseOn)="deleteEntity($event)"
                       (createExerciseOn)="createEntity()"
                       (updateExerciseOn)="editEntity($event)"></app-dynamic-table>
</section>
