  <div fxLayout="row">
    <div class="form-section" fxFlex="1 1 100%">
      <app-simple-field [parent]="parent" [input]="id"></app-simple-field>
      <app-localizable-form
        controlName="name"
        [value]="common?.name"
        [parent]="commonFormGroup"
        label="Workout Name"></app-localizable-form>
      <app-localizable-form
        controlName="description"
        [value]="common?.description"
        [parent]="commonFormGroup"
        label="Workout description"></app-localizable-form>
      <app-image-bundle-form [imageBundle]="common?.imageBundle"
                             controlName="imageBundle" [parent]="commonFormGroup"></app-image-bundle-form>
    </div>
  </div>
