@mixin online-gym-navigation-theme($theme) {

  $primary: map-get($theme, primary);
  mat-sidenav {
    width: 278px;
  }
  mat-sidenav-container {
    min-height: 100%;
  }
  .avatar {
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
  }
  .avatar-sing {
    .mat-title {
      margin-bottom: 0
    }
  }
  .logo {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  mat-sidenav-content {
    min-height: 100vh;
  }
 .navigation-content.mat-drawer-content, .mat-drawer-container.sidenav-container {
   overflow: auto;
  }
}

