<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav mat-elevation-z1"
                        fixedInViewport="true"
                        role="navigation"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="logo">Online Gym!</div>
      </mat-toolbar-row>
      <mat-toolbar-row fxLayoutGap="12px">
        <img
          [src]="user.imageUrl"
          alt="Avatar"
          class="avatar" *ngIf="user">
        <span
          fxLayout="column"
          class="avatar-sing">
          <span class="mat-title">{{user?.name}}</span>
          <span class="mat-body-1">Рейтинг в разработке</span>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <h2 matSubheader>Тренировки</h2>
      <a mat-list-item [routerLink]="'admin/workout-program-admin'"
        routerLinkActive="active">
        <mat-icon
          svgIcon="cardiogram"
          mat-list-icon></mat-icon>
        <span class="mat-list-text">Адмнка workout-program</span>
      </a>
      <a mat-list-item [routerLink]="'admin/workout-admin'"
         routerLinkActive="active">
        <mat-icon
          svgIcon="cardiogram"
          mat-list-icon></mat-icon>
        <span class="mat-list-text">Адмнка workout</span>
      </a>
      <a mat-list-item [routerLink]="'admin/exercise-admin'"
         routerLinkActive="active">
        <mat-icon
          svgIcon="cardiogram"
          mat-list-icon></mat-icon>
        <span class="mat-list-text">Адмнка exercise</span>
      </a>
      <a mat-list-item [routerLink]="'admin/user-admin'"
         routerLinkActive="active">
        <mat-icon
          svgIcon="cardiogram"
          mat-list-icon></mat-icon>
        <span class="mat-list-text">Адмнка user</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="navigation-content">
    <app-toolbar (sidenavToggle)="sidenav.toggle()" [style.width]="width$ | async"></app-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
