<form [formGroup]="parent">
  <mat-horizontal-stepper formArrayName="listOfWeeks">
    <mat-step *ngFor="let step of steps(data); let i = index">
      <ng-template matStepLabel>{{step}}</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>

      <ng-container *ngTemplateOutlet="lineContentTmpl, context: { $implicit: data[i] }"></ng-container>

    </mat-step>
  </mat-horizontal-stepper>
</form>
