<div class="fixActionRow">
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start">
    {{data.header}}
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </h2>
  <mat-dialog-content class="mat-typography">

    <form [formGroup]="form" fxLayout="column">
      <mat-tab-group>
        <mat-tab label="Общая Информация">
          <mat-slide-toggle
            formControlName="isPublished"
            class="example-margin"
            [color]="'primary'">
            Опубликовано
          </mat-slide-toggle>
          <app-common-info [common]="workoutProgram.common" [parent]="form"></app-common-info>
          <app-entity-characteristic [parent]="form"
                                     filterEndpoint="workout_program"
                                     [characteristic]="workoutProgram.characteristic"></app-entity-characteristic>
        </mat-tab>
        <mat-tab label="Фазы workout и шаги">
          <app-list-of-weeks [weekList]="workoutProgram.listOfWeeks" [parent]="form"></app-list-of-weeks>
        </mat-tab>
        <mat-tab label="Статическая инфа">
          Если будет не удобно в json смотреть то я добавлю (amountWorkoutInWeek,amountOfDays,workoutsOnProgram)
          {{form.getRawValue() | json}}
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-dialog-content>
  <div class="spacer"></div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="getFormValue()" [disabled]="form.invalid">Сохранить</button>
  </div>
</div>


