<h2>
  Workout program table
</h2>
  <app-dynamic-table [entityList]="entitiesList"
                     [displayedColumns]="displayedColumns"
                     (deleteExerciseOn)="deleteEntity($event)"
                     (createExerciseOn)="createEntity()" (updateExerciseOn)="editEntity($event)"></app-dynamic-table>

