<div fxLayout fxLayoutGap="16px" [formGroup] = formSelectGroup>
  <h3>Add new Workout to day</h3>
  <app-form-select [parent]="formSelectGroup" [items]="$workouts | async"
                   selectLabel="WorkoutTemplate" selectControlName="selectWorkout"
                   [viewWith]="viewWith"></app-form-select>
  <button mat-icon-button (click)="addWorkout()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div [formGroup]="parent">

  <div formArrayName="listOfScheduledWorkouts">
    <mat-card *ngFor="let workout of listOfScheduledWorkouts.controls; let workoutIndex = index"
              [formGroupName]="workoutIndex"
              class="mat-elevation-z2 workout-card">
      <button mat-icon-button (click)="removeWorkout(workoutIndex)">
        <mat-icon>delete</mat-icon>
      </button>
      <h3>Workout id - {{workout.value.workoutId}}</h3>
      <app-localizable-form
        [parent]="workout"
        controlName="name"
        [value]="workout.value.name"
        label="Workout Instance Name"></app-localizable-form>
      <app-list-of-workout-phases [parent]="workout" [listOfWorkoutPhases]="workout.value.listOfWorkoutPhases"></app-list-of-workout-phases>
    </mat-card>
  </div>
</div>
