<h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start">
  {{data.header}}
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="form" fxLayout="column" (ngSubmit)="onSubmit()">
    <mat-tab-group>
      <mat-tab label="Common info">
        <app-simple-field-list [parent]="form" [input]="formNames"></app-simple-field-list>
        <app-localizable-form
          [parent]="form"
          controlName="name"
          [value]="exercise.name"
          label="Exercise Name"></app-localizable-form>
        <app-localizable-form
          [parent]="form"
          controlName="detailedDescription"
          [value]="exercise.detailedDescription"
          label="Description"></app-localizable-form>
        <mat-form-field appearance="fill">
          <mat-label>Exercise Type</mat-label>
          <mat-select [(value)]="exercise.exerciseType" formControlName="exerciseType">
            <mat-option *ngFor="let exerciseType of exerciseTypes | keyvalue" [value]="exerciseType.key">
              {{exerciseType.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-image-bundle-form [imageBundle]="exercise.imageBundle" controlName="imageBundle" [parent]="form">
        </app-image-bundle-form>
        <app-video-form [parent]="form" controlName="video" [video]="exercise.video"></app-video-form>
      </mat-tab>
      <mat-tab label="Additional info">
        <app-additional-info-form [parent]="form" [additionalInfo]="exercise.additionalInfo">
        </app-additional-info-form>
      </mat-tab>
      <mat-tab label="Equipment">
        <app-crud-simple-entity entityName="equipment">
        </app-crud-simple-entity>
      </mat-tab>
      <mat-tab label="Muscles">
        <app-crud-simple-entity entityName="muscles">
        </app-crud-simple-entity>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [mat-dialog-close]="form.getRawValue()" [disabled]="form.invalid">Сохранить</button>
</div>


