<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let item of stock; let i = index">
      <span mat-line>
        {{showValue(item.value)}}
        </span>
    <button mat-icon-button (click)="onRemove(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
