<div [formGroup]="parent" fxLayout="row" fxLayoutAlign="start start">
  <h4>Image Bundle</h4>
  <app-simple-field-list [parent]="this.imageBundleControl"
                         [input]="formImageBundleNames"></app-simple-field-list>
</div>
