<p>list-entity works!</p>
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let item of entityList let i = index">
      <span mat-line>
        <app-localizable-form
          [value]="item.name"
          label="Description"></app-localizable-form>
        </span>
    <button mat-icon-button (click)="removeEntity(item.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

