<div [formGroup]="parent" fxLayoutGap="8px">
  <section fxLayoutAlign="row wrap">
    <section>
      <app-autocomplete-multiply-form
        label="Target muscles"
        [parent]="additionalFormInfoControl"
        controlName="targetMuscle"
        [allOptions]="musclesAllOptions$ | async"
        [displayWith]="displayWith"
        [chosenOptions]="additionalInfo?.targetMuscle"></app-autocomplete-multiply-form>
    </section>
    <mat-divider vertical></mat-divider>
    <section>
      <app-autocomplete-multiply-form
        label="Muscle involved"
        [parent]="additionalFormInfoControl"
        controlName="musclesInvolved"
        [displayWith]="displayWith"
        [allOptions]="musclesAllOptions$ | async"
        [chosenOptions]="additionalInfo?.musclesInvolved"></app-autocomplete-multiply-form>
    </section>
  </section>
  <section fxLayoutAlign="row wrap">
    <section>
      <app-equipment-form [parent]="additionalFormInfoControl"
                          [equipment]="additionalInfo?.equipment"></app-equipment-form>
      <button mat-raised-button [color]="'primary'" (click)="muscleAdded()">Add equipment</button>
    </section>
  </section>

</div>
