<div [formGroup]="parent">
  <button mat-raised-button (click)="addWeek()">
    <mat-icon>add</mat-icon>
    Добавить неделю
  </button>

  <button mat-raised-button (click)="clone()">
    <mat-icon>add</mat-icon>
    Клонировать неделю
  </button>

  <mat-horizontal-stepper formArrayName="listOfWeeks">
    <mat-step *ngFor="let week of weeks; let weekIndex = index" [formGroupName]="weekIndex.toString()">
      <ng-template matStepLabel>Неделя {{weekIndex}}
        <button mat-icon-button (click)="removeWeek(weekIndex)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <app-list-of-days [parent]="week" [listOfDays]="weekList[weekIndex].listOfDays"></app-list-of-days>
    </mat-step>
  </mat-horizontal-stepper>
</div>
