td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  padding: 0 10px;
}
table.mat-table{
  min-width: 100%;
}
.dynamic-table{
  overflow: auto;
}
.mat-column-control{
  min-width: 80px;
}
.mat-column-description{
  min-width: 350px;
}
