<div class="dynamic-table mat-elevation-z8">
  <div *ngIf="entityList[0]; else addButton">
    <table mat-table [dataSource]="entityList">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef> {{column}}</th>
        <td mat-cell *matCellDef="let entity"> {{entity[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="control" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button>
            <mat-icon aria-label="Add" color="primary" (click)="addNew()">add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row;">
          <button mat-icon-button>
            <mat-icon aria-label="Delete" (click)="deleteExercise(row)" color="warn">delete</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-label="Edit" (click)="editExercise(row)" color="accent">edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="autoBuildColumn; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: autoBuildColumn;"></tr>
    </table>
  </div>

  <ng-template #addButton>
    <button mat-icon-button>
      <mat-icon aria-label="Add" color="primary" (click)="addNew()">add</mat-icon>
    </button>
  </ng-template>
</div>
