<div [formGroup]="parent">
  <div *ngFor="let key of keys">
    <mat-form-field *ngIf="key.type === 'object'; else arraySelect">
      <mat-label>{{key.key}} </mat-label>
      <mat-select
        [compareWith]="compareWorkoutProperty"
        [formControlName]="getGroupNameByKey(key.key)">
        <mat-option *ngFor="let value of values[key.key]" [value]="value">
          {{value.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #arraySelect>
      <app-autocomplete-multiply-form
        [parent]="parent"
        [label]="key.key"
        [controlName]="getGroupNameByKey(key.key)"
        [addedOnlyId]="false"
        [allOptions]="values[key.key]"
        [chosenOptions]="getValueForWorkoutProperty(key.key)"
        [displayWith]="displayWith"
        [isPrimitiveArray]="false"></app-autocomplete-multiply-form>
    </ng-template>
  </div>
</div>




