<div [formGroup]="parent">
  <mat-form-field>
    <mat-label>{{selectLabel}}</mat-label>
    <mat-select [formControlName]="selectControlName">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let item of items" [value]="pathSelectProperty === '' ? item : item[pathSelectProperty]">
        {{viewWith(item)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
