:host {
  position: sticky;
  z-index: 9999;
  display: block;
  width: 100%;
  max-width: 1922px;
  top:0;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-toolbar-row {
  .md-icon-button {
    margin-right: 32px;
    vertical-align: middle;

    .mat-icon {
      vertical-align: middle;
    }
  }
}

