<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h2><span>Тренировки</span></h2>
    <div fxFlex fxLayout fxLayoutAlign="end">
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a [href]="baseUri + '/oauth2/authorization/keycloak'" mat-button>
            <mat-icon>person</mat-icon>
            <span class="aligned-with-icon" fxHide.mobile>Войти!!!!</span></a>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
