<form [formGroup]="parent">
  <button mat-raised-button (click)="addPhase()">
    Добавить фазу
  </button>
  <button mat-raised-button (click)="clone()">
    <mat-icon>add</mat-icon>
    Клонировать последнюю фазу
  </button>
  <mat-horizontal-stepper formArrayName="listOfPhases">
    <mat-step *ngFor="let phaseControl of listOfPhaseFormArray.controls; let i = index" [formArrayName]="i">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <mat-slide-toggle
        formControlName="isOptional"
        class="example-margin"
        [color]="'primary'">
        This is optional phase
      </mat-slide-toggle>
      <div fxLayout="row">
        <app-localizable-form
          [parent]="phaseControl"
          controlName='name'
          [value]="phaseControl.value.name"
          label="Phase Name"></app-localizable-form>
        <button mat-icon-button (click)="removePhase(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div fxLayout="row">
        <app-autocomplete-multiply-form
          choosePropertyForValue="id"
          [parent]="phaseControl"
          label="Exercise"
          controlName="listOfExercises"
          [addedOnlyId]="true"
          [allOptions]="$exercisesList | async"
          [chosenOptions]="getExerciseForPhase(phaseControl.value['listOfExercises']) | async"
          [displayWith]="displayExercise" [isPrimitiveArray]="false"></app-autocomplete-multiply-form>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
