<h1 mat-dialog-title>Димон ты уверен!?</h1>
<div mat-dialog-content>
  <p>По всем по всем признакам ты пёс, кроме верноcти, ты уверен что это нужно удалять??? Или как всегда прмахнулся)</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ой бля рили промазал</button>
  <button mat-button [mat-dialog-close]="getAgreeData()" cdkFocusInitial>Сука сноси нахуй я уверен</button>
</div>
