<div [formGroup]="parent">
  <div formArrayName="listOfWorkoutPhases">
    <div *ngFor="let phase of listOfWorkoutPhasesFormArray.controls;
                         let workoutPhaseIndex = index" [formGroupName]="workoutPhaseIndex">
      Phase name - {{listOfWorkoutPhases[workoutPhaseIndex].name}}
      <app-list-of-sets [parent]="phase" [listOfSet] = "listOfWorkoutPhases[workoutPhaseIndex].listOfSets"></app-list-of-sets>
    </div>
  </div>
</div>
