<div [formGroup]="parent" fxLayout="column">
  <mat-form-field>
    <mat-label>Мера измерения</mat-label>
    <input matInput type="text" id="measure" formControlName="count"
           placeholder="Введите count">
    <mat-label>Количество</mat-label>
    <input matInput type="text" id="measureCount" formControlName="count"
           placeholder="Введите count">
  </mat-form-field>
</div>
