<div [formGroup]="parent">

  <app-autocomplete-multiply-form
    [parent]="parent"
    label="Equipment"
    controlName="equipment"
    [addedOnlyId]="false"
    [allOptions]="$equipmentList | async"
    [chosenOptions]="equipment"
    [displayWith]="displayEquipment" [isPrimitiveArray]="false"></app-autocomplete-multiply-form>

  <h4>Add new Equipment</h4>
      <div [formGroup]="parent">
      <app-simple-field-list [parent]="newEquipmentForm" [input]="formNames"></app-simple-field-list>
      <app-localizable-form
        [parent]="newEquipmentForm"
        controlName="name"
        [value]="equipmentArrayControl.value.name"
        label="Equipment Name"></app-localizable-form>
      </div>
  <button mat-raised-button [color]="'primary'" (click)="addEquipment()">Add equipment</button>
</div>
