<h4>Add new Entity</h4>
<div [formGroup]="form">
  <app-simple-field [parent]="form" [input]="entityValue"
                    [value]="''"></app-simple-field>
  <button mat-raised-button color="primary" (click)="onSubmit()"
          [disabled]="form.invalid">Сохранить
  </button>
</div>

<app-list-entity (removeEntityEvent)="remove($event)" [entityList]="entityValues$ | async"></app-list-entity>
