<h4>{{label}}</h4>
<h4>asdasdasdasdasdasd</h4>
<div fxLayout="column">
  <div *ngIf="!allOptions; else dropdownInit">Dropdown is loading</div>
  <ng-template #dropdownInit>
    <div fxLayout="row" [formGroup]="selectForm">
      <mat-form-field class="form-field-full-width">
        <mat-label>{{label}}</mat-label>
        <input matInput placeholder="choose entity" [matAutocomplete]="auto" formControlName="selectItem">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
          <mat-option *ngFor="let item of filteredItem | async" [value]="item">
            <img *ngIf="getShowImage(item)" [alt]="item.name" class="option-img" [src]="getShowImage(item)" height="25"
                 aria-autocomplete="list">
            <span>{{getShowValue(item)}}</span>
            <small *ngIf="getShowDescription(item)"> | Description: {{getShowDescription(item)}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-icon-button (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div [formGroup]="parent">
      <mat-list cdkDropList role="list" (cdkDropListDropped)="drop($event)">
        <mat-list-item cdkDrag role="listitem" *ngFor="let item of chosenOptions2; let i = index">
          <span mat-line>
           {{displayWith(item)}}
            </span>
          <button mat-icon-button (click)="onRemove(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-template>
</div>
