@import '../node_modules/@angular/material/theming';
@import '../src/app/material/navigation/navigation.component';
@include mat-core();

$online-gym-light-main-theme-primary: mat-palette($mat-deep-purple);
$online-gym-light-main-theme-accent: mat-palette($mat-teal);
$online-gym-light-main-theme-warn: mat-palette($mat-red);

$main-light-theme: mat-light-theme($online-gym-light-main-theme-primary,
  $online-gym-light-main-theme-accent, $online-gym-light-main-theme-warn);

@include angular-material-theme($main-light-theme);

@include  online-gym-navigation-theme($main-light-theme);

