@import './online-gym-light-main-theme';
@import '~font-awesome/css/font-awesome.css';
@import './variables';

.active {
  background-color: mat-color($online-gym-light-main-theme-primary, lighter, 0.5);
}

.mat-fab {
   top: auto !important;
   right: 20px !important;
   bottom: 10px !important;
   left: auto !important;
   position: fixed !important;
 }
.mat-fab.mat-fab-extended {
  text-transform: uppercase;
  min-width: 150px ;
  border-radius: 60px;
}
.br-fontawesome-o .br-selected:after , .br-fontawesome-o .br-active:after, .br-fraction:after{
  color: #FED430 !important;
  font-size: 12px;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

html, body {
  height: 100%;
}

.aligned-with-icon {
  margin-left: 5px;
}

.with-icon {
  display: flex;
  align-items: center;
}

.info {
  padding: 0 0 8px;
}

.wrapper-background {
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.mat-image-card {
  img {
    width: 100%
  }
;
  padding: 0;
}

.workoutInstanceDialogFullSize {
  .mat-dialog-container {
    border-radius: 0;
  }
}

app-workout-banner{
  min-height: 300px;
}

.section-panel{
  margin-bottom: 8px;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}
.form-field-full-width {
  width: 100%;
}
.cdk-global-scrollblock { top: 0 !important; }

