<div [formGroup]="parent">
  <div formArrayName="listOfSets" fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card *ngFor="let set of listOfWorkoutSetFormArray.controls; let setIndex = index"
              [formGroupName]="setIndex.toString()">
      <mat-card-header>
        <mat-card-title>Exercise - {{(getExerciseName(setIndex) | async).name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-simple-field [parent]="set" [input]="restTime"></app-simple-field>
        <div formArrayName="listOfMeasures">
          <div fxLayout="row">
            <button mat-icon-button (click)="addMeasure(set)">
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div *ngFor="let measure of set.controls.listOfMeasures.controls; let measureIndex = index"
               [formGroupName]="measureIndex">Сколько и что
            делать
            <div fxLayout="row">
              <app-simple-field [parent]="measure" [input]="expectedValue" [value]="measure.value.expectedValue"></app-simple-field>

              <app-form-select [parent]="measure" [items]="listOfMeasureTypes$ | async"
                               selectLabel="Measure type" selectControlName="measureTypeId"
                               pathSelectProperty="id"
                               [viewWith]="viewWith"></app-form-select>
              <button mat-icon-button (click)="removeMeasure(set,measureIndex)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
