<p>Characteristics</p>
<div [formGroup]="parent">
  <div fxLayout="row" fxLayoutGap="16px">
    <app-characteristic-property-item
      [parent]="characteristicForm"
      [chooseValue]="characteristic ? characteristic[prop.filterPath] : ''"
      *ngFor="let prop of (valueOFProperties$ | async)"
      [characteristicPropertyFilter]="prop"></app-characteristic-property-item>
  </div>
</div>
